<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">COMPSCRIPT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!--SOLO SI EL USUARIO ESTA LOGEADO-->
        <li class="nav-item">
          <button class="nav-link btn btn-secondary" (click)="getDot()">Guardar</button>
        </li>
        <li class="nav-item dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Archivo
              </button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Abrir Archivo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Guardar Archivo</a>
          </ul>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container">

    <form #sendForm="ngForm" (ngSubmit)="setData(sendForm.value)" class="formi">
        <div class="form-group">
            <label for="email">Editor</label>
            <!-- <textarea name="txtarea" id="textarea" cols="30" rows="10" ngModel></textarea> -->
            <div class="form-floating">
                <textarea class="form-control" name="txtarea" id="txtarea" cols="30" rows="20" placeholder="Codigo a ejecutar" id="floatingTextarea" ngModel></textarea>
                <!-- <label for="floatingTextarea">Comments</label> -->
              </div>
            <!-- <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" ngModel> -->
        </div>
        <div class="form-group">
            <!-- <label for="password">Password</label>
            <input type="password" name="password"  class="form-control" id="password" placeholder="Password"> -->
        </div>
        <button type="submit" class="btn btn-primary">Ejecutar</button>
    </form>
    <!-- <button  class="btn btn-primary">graph</button>
    <div class="section white center" id="grafica">

    </div> -->
</div>

