.formi{
    padding-top: 30px;
}

.text-center{
    align-content: space-between;
    width: 300px;
}

.form-control{
    flex: auto;
   position: relative;
}

.navbar-collapse{
   align-items: flex-start;
}